// z-index's
$zindex-s: 100;
$zindex-m: 101;
$zindex-l: 102;
$zindex-dropdown:110;
$zindex-sticky:120;
$zindex-fixed:130;
$zindex-modal:160;
$zindex-popover:170;
$zindex-tooltip:180;

// colors
// --primary-clr
$primary-clr: rgba(255, 255, 255, 1);
$primary-clr-type-1: rgba(255, 255, 255, 0.80);
$primary-clr-type-2: rgba(255, 255, 255, 0.65);
$primary-clr-type-3: rgba(255, 255, 255, 0.4);
$primary-clr-type-4: #F4F4F4;

//--secondary-clr
$secondary-clr: rgba(0, 0, 0, 1);
$secondary-clr-type-1: rgba(33, 37, 41, 1);

//--accent-clr
$accent-clr: linear-gradient(90deg, #ABF43D 0%, #22CDD8 100%);;
