@mixin button-type-1 {
  @include text-xl;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 100%;
  font-weight: 700;
  background: $accent-clr;
  color: $secondary-clr
}